.DS_Store
.idea
.coverage
*.pyc
*.log

build
dist
*.egg-info

resources/bedfiles
resources/fingerprinting

# Ian's Local resources
resources/run_files/local.yaml
resources/run_tools/local.yaml

# Ignore files that store current installation variables
python_tools/root.py
python_tools/version.py
python_tools/pipeline_kickoff/version.py
.coverage
