language: python
python:
  - '2.7.10'

install:
  - pip install .

script:
  # Validate the pipeline
  - cwltool --validate workflows/ACCESS_pipeline.cwl
  # Run unit tests
  - cd ./python_tools/test
  - python -m unittest discover -s . -t .

# script:
# - python setup.py install
# cd python_tools/test
# python -m unittest discover
