argparse==1.4.0
PyYAML==3.12
ruamel.yaml==0.14.0
toil-ionox0[cwl]==0.0.1
subprocess32==3.5.2
pandas==0.19.0
xlrd==1.1.0
numpy==1.14.2
pysam==0.14.1
pybedtools==0.7.10
PyPDF2==1.26.0
matplotlib==2.2.2
seaborn==0.8.1
mock==2.0.0

# These dependencies may need to be explicitly specified
# if PyPi gives us ResourceConflict issues
# cwltest==1.0.20180209171722
# cwltool==1.0.20180403145700
